.navbar{
    display: flex;
    background-color: #0000;
    height: 6rem;
}

body{
    background-color: #160E27 ;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

}

.card-container{
    display: flex;
    gap: 149px;
}

.watch-list:hover{
    cursor:pointer;
}

.container{
    display: flex;
    flex-direction:column;
    gap: 53px;
}

.navbar{
    height: 108px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .title{
    color: white;
    transform: translateX(3rem);
}

.navbar .navbar-1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;
    transform: translateX(-2rem);
}

a{
    color: white;
}

.btn-login{
    border-radius: 20px;
    width: 119px;
    height: 42px;
    color: white;
    background-color: #6962AD;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 119px;
    height: 42px;
    color: white;
    background-color: #6962AD;
    border: none;
    outline: none;
}
.btn-login:hover{
    cursor: pointer;
}
h1,a,button,h5,footer,p,div,label {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;

}


.featured-today .featured-header .top-10 .top-10-wrapper{
    border-left: 2px #6962AD;
    font-size: 20px;
}

.top-10-wrapper{
    margin-left: 3rem;
    border-left: 4px solid #6962AD;
    padding-left: 1.5rem;
    font-size: 30px;
}

.featured-today{
    margin-left: 3rem;
    border-left: 4px solid #6962AD;
    padding-left: 1.5rem;
    font-size: 30px;

}

.card-upper {
    width: 251px;
    height: 250px;
    background-color: #D9D9D9;
}

.card-wrapper {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.card-down{
    background-color: #4E4A77;
    width: 252px;
    height: 106px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content{
    padding-bottom: 5rem;
}

.watch-now{
    width: 221px;
    border-radius: 20px;
    background-color: #3D3B58;
    height: 33px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.watch-list{
    width: 221px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
}

input{
    color: black;
}

.footer{
    width: 100%;
    height: 476px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 57px;
    overflow-x: hidden;

}

.x-logo{
    width: 60px;
    height: 48px;
    border-radius: 300px;
    background-color: white;
}

.facebook-logo{
    width: 48px;
    height: 48px;
    border-radius: 300px;
    background-color: white;
}

.youtube-logo{
    width: 60px;
    height: 60px;
    border-radius: 300px;
    background-color: white;
}

.instagram-logo{
    width: 48px;
    height: 48px;
    background-color: #160E27;
    border-radius: 20px;
}

.footer-content{
    margin-left: 3rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.footer-desc{
    gap: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie {
    margin-right: 3.8rem;
    display: flex;
    flex-direction: column;
    height: 920px;
    background-color: #160E27;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 45px;
    gap: 45px;
    overflow-x: hidden;

}

.movie-header{
    display: flex;
    justify-content:space-between;
}

.movie-header-attribute{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-title{
    font-size: 40px;
}

.star-image{
    width: 30px;
    height: 30px;
}
.rating, .popularity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.movie-header-title{
    font-size: 20px;
}

.movie-header-attribute-wrapper{
    transform: translateX(-2rem);
    display: flex;
    gap: 50px;
}

.movie-content{
    display: flex;
    gap: 10px;
}

.thumbnail{
    width: 286px;
    height: 468px;
    background-color: #D9D9D9;
}

.thumbnail-photo,.thumbnail-video {
    width:100%;
    height: 100%;
}
    
.movie-video{
    width: 935px;
    height: 470px;
    background-color: #D9D9D9;
}

.movie-genre{
    display: flex;
    gap: 20px;
}

.genre{
    border-radius: 300px;
    border: 1px solid #6962AD;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 41px;
}

.team{
    width: 500px;
    border-top: 1px solid white;
    border-width: 1px;
    display: flex;
    gap: 30px;
}

.team-name {
    display: flex;
    gap: 20px;
}

.team-name > p {
    color: #958AFF;
}

.cast{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 600px;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 45px;
    gap: 45px;
    overflow-x: hidden;
}

.top-cast  > p{
    border-left: 3px solid #6962AD;
    padding-left: 20px;
    color: black;
    font-size: 25px;
}

.storyline-title > p {
    border-left: 3px solid #6962AD;
    padding-left: 20px;
    color: black;
    font-size: 25px;
}

.star {
    display: flex;
    gap: 30px;
}

.stars-image{
    width: 73px;
    height: 73px;
    border-radius: 300px;
}   

.star-name > p {
    color: black;
}

.star-name > .name-1 {
    font-size: 15px;
}

.star-name > .name-2{
    font-size: 12px;
    color: #958AFF;
}

.star-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.story{
    display: flex;
    flex-direction: column;
}

.storyline > p{
    color: black;
    width: 654px;
}

.movie-detail{
    display: flex;
    gap: 40px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    width: 500px;
}

.movie-detail-title {
    color: black;
}

 .movie-detail-name  > p{
    color: #958AFF;
}

.watchlist {
    background-color: #160E27 ;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.watchlist > .watchlist-title{
    margin-left: 3rem;
    font-size: 25px; 
    margin-top: 45px;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-login{
    width: 100%;
    height: 100%;
}

.img-wrapper{
    width: 65%;
    height: 100vh;
}

 .input-wrapper{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 7px;
    background-color: #958AFF;
    padding: 25px;
    border-radius: 15px;
}

.input{
    display: flex;
    justify-content: center;
    /* align-items:center; */
}

.form{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
}

label {
    color: white;
    font-size: 15px;
}

input {
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    line-height: normal;
    padding: 2px;
    padding-left: 13px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    transform: translateY(0.5rem);
    gap: 10px;
}

.a-signup {
    font-size: 12px;
}

.login-title{
    font-size: 20px;
}

.input-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-title > p {
    font-size: 20px;
}

